/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

/* BASE HTML ELEMENTS */
:root {
  --color-light-grey: #aaa;
  --color-lighter-grey: #ccc;
  --color-lightest-grey: #eee;
  --color-white: #fff;
  --color-dark-grey: #444;
  --color-green: #0a0;
  --color-purple: #909;
  --color-red: #a00;
  --color-black: #000;
}

*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
}

button {
  transition-duration: 0.25s;
  margin: 15px 0;
  padding: 15px;
  background-color: var(--color-lightest-grey, #eee);
  cursor: pointer;
  width: 100%;
}
button:hover {
  transition-duration: 0.25s;
  transform: scale(1.01,1.01);
  box-shadow: 0px 10px 10px var(--color-light-grey,#aaa);
}
button:active {
  transition-duration: 0.25s;
  transform: scale(1,1);
  box-shadow: 0px 7px 7px var(--color-light-grey,#aaa);
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}

div, p, input, label, button {
  font-family: 'Roboto', sans-serif;
}

/* QUESTION FORM */

main form {
  display: flex;
  flex-flow: column;
  max-width: 500px;
  padding: 15px;
  transition-duration: 0.5s;
  transition-delay: 1s;
  animation: fadeIn 1s;
  opacity: 1;
}

.fadeForm {
  transition-duration: 0.5s;
  transition-delay: 1s;
  opacity: 0 !important;
}

main form h3 {
  position: relative;
  padding: 0 0 0 50px;
  min-height: 4rem;
  display: flex;
  flex-flow:column;
  align-items: flex-start;
  justify-content: center;
}

main form h3::before {
  content: 'Q:';
  font-size: 3rem;
  color: var(--color-light-grey,#aaa);
  min-height: 4rem;
  padding: 0;
  margin:0;
  vertical-align: middle;
  position: absolute;
  top:0;
  left:-5px;
}

/* QUESTION ANSWERS */
.answers {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
}

.answers label {
  padding: 15px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.answers label:hover{
  transition-duration: 0.25s;
  transform: scale(1.01,1.01);
  box-shadow: 0px 10px 10px var(--color-light-grey,#aaa);
  background-color: var(--color-dark-grey,#444);
  color: var(--color-white,#fff);
}

.answers label input {
  margin-right: 15px;
}

.answers input[type="radio"]{
  width:0;
  height:0;
  padding: 0;
  margin:0;
}
.answers input[type="radio"]::before{
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: var(--color-black,#000);
  transition-duration: 0.5s;
  z-index: -1;
}

.answers input[type="radio"]:checked::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: var(--color-lighter-grey,#ccc);
  transition-duration: 0.5s;
  z-index: -1;
}

.correctAnswer {
  transition-duration: 0.5s;
  color: var(--color-white,#fff);
  background-color: var(--color-green,#0a0);
}

.incorrectAnswer {
  transition-duration: 0.5s;
  background-color: var(--color-red,#a00);
  color: var(--color-white,#fff);
}

/* DASHBOARD - SCORE AND CURRENT QUESTION NUMBER */
.dashboard {
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.dashboard h2 {
  color: var(--color-purple,#909);
}

.startbutton {
  font-size: calc(0.75vw + 0.5rem);
  padding: 15px 25px;
  cursor: pointer;
}

.startbutton:hover {
  transition-duration: 0.25s;
  transform: scale(1.01,1.01);
  box-shadow: 0px 10px 10px var(--color-light-grey,#aaa);
  background-color: var(--color-dark-grey,#444);
  color: var(--color-white,#fff);
}

/* ANIMATIONS */
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1;}
}